/* сброс настроек браузера */
h1,
h2,
h3,
h4,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

button {
    cursor: pointer;
}

img {
    display: block;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

/* ------------------------------------ */
:root {
    /* палитра цветов */
    --primary-color: #212121;
    --secondary-color: #757575;
    --secondary-transparent-color: rgba(255, 255, 255, 0.6);
    --additional-color: #ffffff;
    --accent-color: #2196F3;
    /* текст */
    --primary-font-family: 'Roboto', sans-serif;
    --secondary-font-family: 'Raleway', sans-serif;
    /* фон */
    --primary-background-color: #ffffff;
    --secondary-background-color: #2F303A;
    --accent-background-color: #F5F4FA;
}

body {
    color: var(--primary-color);
    font-family: var(--primary-font-family);
    background-color: var(--primary-background-color);
    letter-spacing: 0.03em;
    /* font-weight: 400; */
    font-size: 14px;
    line-height: 1.9;
    text-align:center;
}

/* -------------------------------------------- */
.container{
    width: 1200px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
/* ----------HEADER------------------------------ */
/* logo */
.logo {
    color: #000000;
    font-family: var(--secondary-font-family);
    font-weight: 700;
    font-size: 26px;
}
.logo-accent {
    color: var(--accent-color);
}
.logo-footer {
    color: var(--additional-color);
}

.logo:hover {
    color: var(--accent-color);
}
/*-------------------------------------------------*/
/* header - ссылки*/
.menu-link {
    color: var(--primary-color);
}
.link-options{
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    font-style: normal;
}
.link-options:hover,
.link-options:focus {
    color: var(--accent-color);
}

.mailto,
.contact-phone-number {
    color: var(--secondary-color);
}
.current {
    color: var(--accent-color);
}
/* --------------------------------------------------------- */
/* header -  позиционированиу */
.header{
    padding-top: 24px;
    padding-bottom: 25px;
}

.div-header{
    display:flex;
    justify-content: space-between;
    align-items: center;    
}
.header-nav{
    display: flex;
}
.menu{
    display: flex;
    align-items: center;
    column-gap: 50px;  
}
.logo-header{
    margin-right: 93px;
}
.header-list{
    display: flex;
    column-gap: 50px;   
}
/* ---------------------------------------------------------- */
/* background */
.section-background{
    background-color: var(--secondary-background-color);
}
.team {
    background-color: var(--accent-background-color);
}
.section{
    padding: 94px;
}
.benefits{
    padding-bottom: 0px;
}
/* -------------------HERO----------------------------------- */
/* hero */
.hero {
    padding-top: 200px;
    padding-bottom: 200px;
}
.hero-title {
    color: var(--additional-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    margin-bottom: 30px;    
}
.title-transform{
    text-transform: uppercase;
}
/* ---------------------------------------------- */
/* кнопка */
.button {
    font-family: inherit;
    cursor: pointer;
    font-size: 16px;
}

.button-primary {
    color: var(--additional-color);
    background-color: var(--accent-color);
    font-weight: 700;    
    letter-spacing: 0.06em;
}
.button-secondary {
    color: var(--primary-color);
    background-color: var(--accent-background-color);
    font-weight: 500;
    line-height: 1.6;    
}
.button-primary:hover,
.button-primary:focus {
    background-color: #188CE8;
}
.button-secondary:hover,
.button-secondary:focus {
    color: var(--additional-color);
    background-color: var(--accent-color);
}

.button-activ:active{
    color: var(--accent-color);
}

/* =============  benefits  =========== */
/* скрываем заголовок */
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;    
}
/* ---------------------- */
.section-text {
    text-align: left;
}
.benefits-list-title {    
    font-size: 14px;
    line-height: 1.14;    
}

.benefits-list-text {
    color: var(--secondary-color);    
    line-height: 1.71;   
}
/* ------------------------- */
/* позиционирование */
.benefits-list{
    display: flex;
    column-gap: 30px;
}
.benefits-list-item {
    flex-basis: calc((100%-90px)/4);
}
/* ===============   work   ============================ */
/* заголовки для секции work и team */
.title {   
    font-size: 36px;
    line-height: 1.17;
    margin-bottom: 50px;    
}
/* ------------------------- */
/* позиционирование */
.work-list{
    display: flex;
    column-gap: 30px;
}
 /* flex-basis: calc((100%-60px)/3) */
/* =============   team   ================================ */

.team-list-item-title {
    font-weight: 500;
    font-size: 16px;
    margin-top:30px;
    margin-bottom: 10px;
}    
.team-list-item-text {
    color: var(--secondary-color);    
    font-size: 16px;
    margin-bottom: 30px;
   }
/* ----------------------- */
/* позиционирование */
.team-list{
    display: flex;
    column-gap: 30px;
}
/* flex-basis: calc((100%-90px)/4) */

/* ===============   footer   =================================== */

.address-maps {
    color: var(--additional-color);    
    line-height: 1.71;   
    font-style: normal;
}
.mailto-footer,
.phone-footer{
    color: rgba(255, 255, 255, 0.6);
}

/* ---------------------------------------------- */
/* позиционирование */
.footer-logo {
    margin-bottom: 20px;
}

.footer {
    padding: 60px;
}

.div-footer-link {
    display: flex;
    flex-direction: column;
}

.footer-address-list {
    display: flex;
    flex-direction: column;
    column-gap: 9px;
}
/*================   portfolio   =========================== */

.portfolio-link-title{ 
    color: var(--primary-color);   
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}
.portfolio-link-text{
    color: var(--secondary-color);   
    font-size: 16px;      
}
/*----------------------------------------------------------*/

